---
---

<header>
  <nav class="bg-white rounded-md">
    <div class="flex flex-wrap items-center justify-between mx-auto">
      <div class="flex items-center justify-center w-10 h-10 overflow-hidden bg-blue-600 rounded-full">
        <span class="font-medium text-gray-200">YB</span>
      </div>

      <ul class="font-semibold flex flex-col md:flex-row">
        <li>
          <a href="/" class="px-3 text-gray-800 hover:text-blue-600 focus:text-blue-600">Home</a>
        </li>
        <li>
          <a href="/projects" class="px-3 text-gray-800 hover:text-blue-600 focus:text-blue-600">Projects</a>
        </li>
        <li>
          <a href="/blog" class="px-3 text-gray-800 hover:text-blue-600 focus:text-blue-600">Blog</a>
        </li>
        <li>
          <a href="#" class="px-3 text-gray-800 hover:text-blue-600 focus:text-blue-600">Contact</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
